@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

button {
    cursor: pointer;
    transition: transform 0.1s;
}
button:active {
    transform: scale(0.96);
}
body {
    /* font-family: "Roboto Slab", serif;
    font-optical-sizing: auto; */
    margin: 10px 20px;
}

#counter {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-page {
    background: #a1dcf0;
    background: linear-gradient(
        82deg,
        rgba(161, 220, 240, 1) 10%,
        rgba(161, 195, 240, 1) 29%,
        rgba(161, 170, 240, 1) 47%,
        rgba(177, 161, 240, 1) 64%,
        rgba(203, 161, 240, 1) 83%
    );
}

.main-card {
    padding: 5px;
    width: fit-content;
    height: fit-content;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 12px 6px rgba(255, 255, 255, 0.6);
    position: relative;
    overflow: hidden;
}

.main-card::before {
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.8),
        transparent
    );
}

.main-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.8),
        transparent,
        rgba(255, 255, 255, 0.3)
    );
}
